.SocialCardWrapper {
  background: rgb(9, 116, 134);
  padding: 16px;
}
.SocialCard {
  background: linear-gradient(
    160deg,
    rgb(252, 238, 179) 0%,
    rgb(241, 241, 219) 95%
  );
  display: flex;
  flex-direction: row;
  color: black;
  height: calc(100% - 40px);
  padding: 20px;
}
.SocialCard h1 {
  font-size: 5rem;
  color: rgb(9, 116, 134);
}
.SocialCard hr {
  height: 100%;
  width: 4px;
  background-color: rgb(9, 116, 134);
}
